In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/1/gaze.csv")
df2 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/2/gaze.csv")
df3 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/3/gaze.csv")
df4 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/4/gaze.csv")
df5 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/5/gaze.csv")
df6 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/6/gaze.csv")
df7 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/7/gaze.csv")
df8 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/8/gaze.csv")
df9 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/9/gaze.csv")
df10 = pd.read_csv("C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/10/gaze.csv")

In [4]:
df1.describe(())

       image_seq       gaze  blink  eye_offset  Unnamed: 5  Unnamed: 6
count  88.000000  89.000000   88.0   89.000000         0.0   87.000000
mean   46.795455   0.625000    0.0   15.801363         NaN    1.080460
std    27.690058   0.484123    0.0   17.756758         NaN    0.273581
min     1.000000   0.000000    0.0  -33.465500         NaN    1.000000
50%    45.500000   1.000000    0.0   19.578700         NaN    1.000000
max    95.000000   1.000000    0.0   65.027600         NaN    2.000000

In [5]:
df1.head(1)

,movie_id,image_seq,gaze,blink,eye_offset,Unnamed: 5,Unnamed: 6
0,93663f94-bf0a-4ce8-a29a-a5236cc7fe6a,1.0,1.0,0.0,6.2253,NaN,1.0

In [6]:
columns = ['gaze','eye_offset']

In [8]:
import os


file_paths = [
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/1/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/2/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/3/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/4/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/5/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/6/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/7/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/8/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/9/gaze.csv"
    "C:/Users/Saurabh/OneDrive - iitgn.ac.in/Desktop/Imbesideu/emotional_data/10/gaze.csv"
]

# Create a list to store the average values
average_values = []

# Loop through the file paths
for file_path in file_paths:
    if os.path.isfile(file_path):  # Check if the file exists
        # Extract the file name from the path
        filename = os.path.basename(file_path)
        df = pd.read_csv(file_path)
        average_eye_offset = df['eye_offset'].mean()
        average_values.append({'File': filename, 'Average Eye Offset': average_eye_offset})

# Create a DataFrame from the list of average values
average_df = pd.DataFrame(average_values)

# Create a writer object for Excel
excel_writer = pd.ExcelWriter('average_eye_offset.xlsx', engine='openpyxl')

# Write the DataFrame to the Excel file
average_df.to_excel(excel_writer, sheet_name='Averages', index=False)

# Save the Excel file
excel_writer.close()

In [10]:
df1.columns

Index(['movie_id', 'image_seq', 'gaze', 'blink', 'eye_offset', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

In [12]:
col = ['movie_id', 'image_seq', 'gaze', 'blink', 'eye_offset']
df1[col].dtypes

movie_id       object
image_seq     float64
gaze          float64
blink         float64
eye_offset    float64
dtype: object